
body{
  font-family: Arial;
}

#header{
  font-size: 3em;
  font-weight: bold;
  margin-top: 40px;
}

#sliderText {
  position: absolute;
  top: 260px; 
  left: 20px;
  margin-top: -35px;
  margin-bottom: 30px;
  font-size: 0.9em;
}

#sliderscontainer {
  
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center; 
 

}

#slider{
  position: absolute;
  top: 174px; 
  left: 22px;
  width: 430px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  
}
/* #y-slider{
  position: absolute;
  top: 0px; 
  left: 20px;
  height:650px;
  display: grid;
  margin-left: 210px;
  margin-right: auto;
  background: rgb(117, 0, 114);
} */
#y-slider{
  position: absolute;
  top: 0px; 
  left: 20px;
  width: 20px;
 height: 650px;
  display: grid;
  margin-left: 210px;
  margin-right: auto;
 
}
#y-axis-red-blue-line{
  
  margin-left: 7px;
  margin-top: -339px;
  height:127% ;
  width: 7px;
}

/* #y-axis-red-blue-line{
  
  margin-left: 7px;
  margin-top: -339px;
  height:127% ;
  width: 7px;
} */

#red-blue-line{
  margin-top: -56px;
  width: 100%;
}

#search-field {
  padding-bottom: 16px;
}

a {
  font-size: 12px;
  text-decoration: none;
}

#mainContainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}


#newsContainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
   margin-top:240px;
  
   
}

#card {
  width: 300px;
  padding: 5px;
}
